@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Egyptian+Hieroglyphs&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@font-face {
    font-family: 'Renogare';
    src: url('fonts/Renogare-Regular.otf');
}

header {
    font-size: 60px;
    font-family: 'Renogare';
    background-color: white;
}

h2 {
    font-family: 'Renogare';
}
h4 {
    font-family: 'Montserrat';
    font-weight: 700;
}

fieldset {
    font-family: 'Renogare';
    font-size: 30;
    width: 25%;
    height: 100%;
    float: right;
}

input {
    font-family: 'Montserrat';
    font-weight: 200;
}

/* divs */
div {
    background-color: rgb(97, 65, 80);
    overflow: hidden;
}

div a {
    float: right;
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-weight: 600;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div h {
    float: left;
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-weight: 800;
    text-align: center;
    padding: 14px 16px;
    text-decoration: dotted;
}

div a:hover {
    background-color: plum;
    color: black;
    text-decoration: none;
}

div a.active {
    background-color: pink;
    color: black;
    text-decoration: wavy;
}

div.games {
    background-color: beige;
    width: 100%;
    overflow: auto;
    display: inline-block;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-right: 2.5%;
}
div.games div {
    width: 30%;
    display: inline-block;
    align-items: center;
}


a.meowtitlebtn img:hover {
    opacity: 0.5; 
}

a.meowtitlebtn img {
    opacity: 1;
}
