@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Egyptian+Hieroglyphs&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@font-face {
    font-family: 'Renogare';
    src: url('fonts/Renogare-Regular.otf');
}

header {
    font-size: 60px;
    font-family: 'Renogare';
    background-color: white;
    width: fit-content;
    padding: 1%;
    margin: 0.5%;
}

h2 {
    font-family: 'Renogare';
}
h4 {
    font-family: 'Montserrat';
    font-weight: 700;
}

body.set2 {
    background-color: plum;
    background-image: none;
}


body.main {
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-image: url('images/newbg.png');
}

body.games {
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-image: url('images/nxgames.png');
}

fieldset {
    font-family: 'Renogare';
    font-size: 30;
    width: 25%;
    height: 100%;
    float: right;
}

input {
    font-family: 'Montserrat';
    font-weight: 200;
}

/* divs */
div {
    background-color: rgb(97, 65, 80);
    overflow: hidden;
}

div a {
    float: right;
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-weight: 600;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div h {
    float: left;
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-weight: 800;
    text-align: center;
    padding: 14px 16px;
    text-decoration: dotted;
}

div a:hover {
    background-color: plum;
    color: black;
    text-decoration: none;
}

div a.active {
    background-color: pink;
    color: black;
    text-decoration: wavy;
}

.show {display: block;}

.glibdbtn {
    position: relative;
    float: right;
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-weight: 600;
    text-align: center;
    padding: 14px 16px;
    border: none;
    outline: none;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
}
.glibdbtn:hover {
    background-color: plum;
    color: black;
    text-decoration: none;
}
.glibdbtnact {
    background-color: pink;
    color: black;
    text-decoration: wavy;
}
.glibddcont {
    /* display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; */
    
    z-index: 1;
    /* overflow: auto; */
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-weight: 600;
    text-align: center;
    padding: 14px 16px;
    min-width: 160px;
    text-decoration: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    position: absolute;
}

.glibddcont a {
    float: none;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-weight: 600;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

div.glibdropdown {
    position: relative;
    overflow: hidden;
    float: right;
}

div.glibdropdown:hover .glibddcont {
    display: block;
}

div.glibdropdown:hover .glibdbtn {
    background-color: plum;
}

div.games {
    background-color: beige;
    width: 100%;
    overflow: auto;
    display: inline-block;
    padding-top: 1%;
    padding-bottom: 1%;
}
div.games div {
    width: 30%;
    display: inline-block;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 1%;
}

div.devs {
    background-color: rgba(0,0,0,0);
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    flex-direction: row;
}
div.devs div {
    width: 30%;
    display: inline-block;
    text-align: center;
    align-items: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin: 1.5%;
    border-radius: 16px;
}

div.devs div p {
    font-family: 'Montserrat';
    text-align: center;
    width: auto;
}

div a.normal {
    align-self: center;
    background-color: rgba(0,0,0,0);
    font-family: 'Montserrat';
    font-weight: 600;
    width: fit-content;
    text-decoration: none;
    float: none;
}

a.meowtitlebtn img:hover {
    opacity: 0.5; 
}

a.meowtitlebtn img {
    opacity: 1;
}

footer p {
    padding-left: 15px;
    width: auto;
}

p {
    width: fit-content;
    padding: 1.5%;
}
